# We set engine-strict=true to enforce this bit in the package.json:
#
#   "engines":
#     "npm": "Please use yarn instead of npm",
#     …
#   },
#
# This way contributors will receive an error if they use `npm`
# instead of `yarn`:
#
#   $ npm install
#   npm ERR! code EBADENGINE
#   npm ERR! engine Unsupported engine
#   npm ERR! engine Not compatible with your version of node/npm: getambassador.io@1.0.0
#   npm ERR! notsup Not compatible with your version of node/npm: getambassador.io@1.0.0
#   npm ERR! notsup Required: {"npm":"Please use yarn instead of npm","yarn":"^v1.3.2","node":">=v11.0.0"}
#   npm ERR! notsup Actual:   {"npm":"7.7.5","node":"v15.12.0"}
#
#   npm ERR! A complete log of this run can be found in:
#   npm ERR!     /home/lukeshu/.npm/_logs/2021-04-05T19_53_06_846Z-debug.log
#
# https://github.com/yarnpkg/yarn/issues/4895#issuecomment-545644733
engine-strict = true
