.docs {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: auto min-content;
    &__sidebar {
        display: none;
    }
}
