@use '../vars' as *;

.note {
  margin: 2px 0 10px;

  &__body {
    padding: 8px 0;
  }

  &__description {
    padding: 0;
    margin-top: -15px;
  }

  &__image,
  &__image_xs {
    img {
      border: solid 1px $white-1;
      border-radius: 4px;
      height: auto;
      margin-bottom: 10px;
      object-fit: contain;
      padding: 10px;
      width: 100%;
    }
  }

  &__image {
    display: none;
    padding: 0 0 0 10px;
  }

  &__image_xs {
    display: block;
    width: 100%;
  }

  &__typeIcon {
    height: 28px;
    vertical-align: top;
    width: 28px;
  }

  &__title {
    display: grid;
    width: fit-content;
    grid-template-columns: 20px auto;
    text-decoration: none;

    span {
      padding: 0 0 0 15px;
    }
    &:hover {
      text-decoration: underline;
      color: $blue-dark;
    }

    &_link {
			font-size: var(--ifm-h3-font-size);
			color: var(--ifm-heading-color);
      font-family: var(--ifm-heading-font-family);
      font-weight: var(--ifm-heading-font-weight);
      line-height: var(--ifm-heading-line-height);
      margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      display: grid;
      grid-template-columns: 20px auto;

      span {
        padding: 0 0 0 15px;
      }
		}

    &_no_link {
      display: grid;
      grid-template-columns: 20px auto;
      text-decoration: none;

      span {
        padding: 0 0 0 15px;
      }
    }
  }
}

.release {
  padding-bottom: 16px;
  border-bottom: 1px solid $white-1;

  &__date {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .note {
    &__body {
      padding: 8px 0 4px 35px;
    }
    &__description {
      padding: 0 10px 0 0;
    }
    &__image {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      width: 35%;
    }

    &__image_xs {
      display: none;
    }

    &__title {
      cursor: pointer;
      span {
        display: inline-block;
        padding-top: 5px;
        vertical-align: top;
      }

      &_no_link {
        span {
          display: inline-block;
          padding-top: 5px;
          vertical-align: top;
        }
      }
    }
  }
}
