code[class*='language-'],
pre[class*='language-'] {
  color: #fff;
  background: none;
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 21px; /* Keep this in-sync with @line-height in styles.module.less pre[class=language-console] */

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #73250e;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f24e1e;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f5a623;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #795cec;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #00c05b;
}

.token.operator,
.token.entity,
.token.url {
  color: #0d5f80;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #00c05b;
}
