.case-study-bitnami {
    .video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        width: 100%;
        border: 6px solid white;
        background: white;
        border-radius: 2px;
        margin: 25px 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .col.transcript {
        margin-bottom: 35px;

        #transcript-content {
            height: 400px;
            overflow: hidden;
            text-overflow: clip;
            z-index: 1;

            &.expanded {
                height: auto;
            }
        }

        .transcript-fade {
            z-index: 10;
            position: relative;
            background: -webkit-linear-gradient(top, rgba(238, 242, 243, 0), #fff);
            background: -o-linear-gradient(bottom, rgba(238, 242, 243, 0), #fff);
            background: -moz-linear-gradient(bottom, rgba(238, 242, 243, 0), #fff);
            background: linear-gradient(to bottom, rgba(238, 242, 243, 0), #fff);
            height: 200px;
            margin-top: -200px;

        }
        .expanded ~ .transcript-fade {
            display: none;
        }
    }

    .col.slides {
        // https://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/
        // Recent CSS has a simpler aspect-ratio property, but it's
        // too new for us to use.
        .slide-embed {
            position: relative;
            width: 100%;
            // The embed HTML that Speaker Deck gives us tells us that
            // the aspect ratio is "1.77777777777778"; and math tells
            // us that "1/1.777…" is "0.5625".
            padding-bottom: 56.25%;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

}

@media screen and (min-width: 576px) {
    .case-study-bitnami {
        .row {
            display: flex;
            flex-wrap: wrap;

            .col {
                flex: 1;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
